@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
  --font-headings: 'Raleway', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --color-bg: hsl(218, 28%, 13%);
  --color-intro: hsl(217, 28%, 15%);
  --color-footer: hsl(216, 53%, 9%);
  --color-review: hsl(219, 30%, 18%);
}